.form {
  text-align: center;
}

.form__header {
  color: hsl(19, 87%, 50%);
  text-shadow: 1px 2px 5px hsl(0, 0%, 90%);
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.form__label {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form__labelText {
  margin: 0 0 10px 0;
  text-align: left;
  flex-basis: 130px;
}

.form__field {
  border: solid 2px hsl(0, 5%, 65%);
  border-radius: 5px;
  padding: 5px;
  flex-grow: 1;
}

.form__field:read-only {
  background-color: hsla(0, 7%, 81%, 0.411);
}

.form__button {
  background-color: hsl(19, 80%, 50%);
  color: white;
  padding: 10px 20px;
  border: solid 2px hsl(19, 87%, 48%);
  text-shadow: 1px 1px 2px hsl(0, 0%, 20%);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 3px;
  width: 100%;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.form__button:hover {
  background-color: hsl(19, 87%, 55%);
  transform: scale(1.02);
}

.form__button:active {
  background-color: hsl(19, 87%, 60%);
}